.method-list-wrapper {
  flex: 1 1 20%;
  .method-list {
    padding: 0px 0px 0px 10px;
    margin: 10px 10px 0px 0px;
    height: 526px;
    overflow: scroll;
    border: 3px double green;
    background-color: #1f1f1f;
    margin-top: 10px;
    p {
      margin: 2px;
    }
  }
}
